.nav-side-menu .brand {
  line-height: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #1c2732;

  h3 {
    padding: 25px 10px;
    color: #fff;
    font-size: 26px;
    margin-bottom: 0px;
    border-bottom: 2px solid #a33327;
  }

  .admin-user {
    text-align: left;
    padding-left: 15px;

    img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      vertical-align: middle;
    }
    h5 {
      font-size: 12px;
      color: #fff;
      display: inline-flex;
      margin-left: 10px;
    }
  }
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 48px;
  outline: 0;

  cursor: pointer;
  .collapsed {
    .arrow {
      float: right;
      margin-top: 18px;
      font-size: 16px;
      .down {
        display: none;
      }
      .left {
        display: block;
      }
    }
  }

  &:last-of-type {
    // position: absolute;
    // top: 0; 
    // left: 0;
     margin-top: auto;
}

}

.nav-side-menu li {
  padding-left: 22px;
  border-left: 4px solid transparent;
  font-size: 14px;
  color: #91a6bb;
  font-weight: 600;
}

.nav-side-menu ul :not(collapsed) .arrow,
.nav-side-menu li :not(collapsed) .arrow {
  float: right;
  margin-top: 18px;
  font-size: 16px;
  .down {
    display: block;
  }
  .left {
    display: none;
  }
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 4px solid #d70062;
  // background-color: #e3ecf1;
  // color: #131f25;
  color: #fff;
  background-color: #1c2732;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d70062;
  border-left: 4px solid #d70062;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  color: #91a6bb;
  background-color: #1c2732;
  border: none;
  line-height: 42px;
  margin-left: 0px;
  padding-left: 60px;
  border-left: 4px solid transparent;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: rgb(15, 25, 31);
  color: #fff;
}

.nav-side-menu li i {
  width: 20px;
  padding-right: 35px;
}

.nav-side-menu li:hover {
  border-left: 4px solid transparent;
  // background-color: #20343f;
  background-color: #16222a;
  color: #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.on-hover {
  display: inline-block;
  position: absolute;
  background-color: #1c2732;
  padding: 0px 20px;
  margin-left: 9px;
  visibility: hidden;
  white-space: nowrap;

  li {
    padding: 0px 20px !important;
  }
}

.menu-item:hover .on-hover, .on-hover:hover {
  visibility: visible;
}

.sign-out {
  position: absolute;
  bottom: 0px;
}

