<div class="container">
  <div class="section-one">
    <div class="content shadow">
      <div class="overlay">
        <div class="row">
          <div class="col-md-12">
            <div class="logo uk-animation-slide-right-small">
              <h1>TGC</h1>
              <h5>Connect to yours neighbors</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-two">
    <div class="content">
      <div class="auth">
        <!-- <h4>Welcome</h4> -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>