<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

    <!--Begin::Dashboard 6-->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
            <!--begin:: Widgets/New Users-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Users
                        </h3>
                    </div>

                </div>
                <div class="kt-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="kt_widget4_tab1_content">
                            <div class="kt-widget4">
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        <img src="assets/media/users/100_4.jpg" alt="">
                                    </div>
                                    <div class="kt-widget4__info">
                                        <a href="#" class="kt-widget4__username">
                                                Anna Strong
                                            </a>
                                        <p class="kt-widget4__text">
                                            Visual Designer,Google Inc
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-label-brand btn-bold"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                </div>
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        <img src="assets/media/users/100_14.jpg" alt="">
                                    </div>
                                    <div class="kt-widget4__info">
                                        <a href="#" class="kt-widget4__username">
                                                Milano Esco
                                            </a>
                                        <p class="kt-widget4__text">
                                            Product Designer, Apple Inc
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-label-warning btn-bold"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                </div>
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        <img src="assets/media/users/100_11.jpg" alt="">
                                    </div>
                                    <div class="kt-widget4__info">
                                        <a href="#" class="kt-widget4__username">
                                                Nick Bold
                                            </a>
                                        <p class="kt-widget4__text">
                                            Web Developer, Facebook Inc
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-label-danger btn-bold"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                </div>
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        <img src="assets/media/users/100_1.jpg" alt="">
                                    </div>
                                    <div class="kt-widget4__info">
                                        <a href="#" class="kt-widget4__username">
                                                Wiltor Delton
                                            </a>
                                        <p class="kt-widget4__text">
                                            Project Manager, Amazon Inc
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-label-success btn-bold"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                </div>
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        <img src="assets/media/users/100_5.jpg" alt="">
                                    </div>
                                    <div class="kt-widget4__info">
                                        <a href="#" class="kt-widget4__username">
                                                Nick Stone
                                            </a>
                                        <p class="kt-widget4__text">
                                            Visual Designer, Github Inc
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-label-primary btn-bold"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="kt_widget4_tab2_content">
                            <div class="kt-widget4">
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        <img src="assets/media/users/100_2.jpg" alt="">
                                    </div>
                                    <div class="kt-widget4__info">
                                        <a href="#" class="kt-widget4__username">
                                                Kristika Bold
                                            </a>
                                        <p class="kt-widget4__text">
                                            Product Designer,Apple Inc
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-label-success"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                </div>
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        <img src="assets/media/users/100_13.jpg" alt="">
                                    </div>
                                    <div class="kt-widget4__info">
                                        <a href="#" class="kt-widget4__username">
                                                Ron Silk
                                            </a>
                                        <p class="kt-widget4__text">
                                            Release Manager, Loop Inc
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-label-brand"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                </div>
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        <img src="assets/media/users/100_9.jpg" alt="">
                                    </div>
                                    <div class="kt-widget4__info">
                                        <a href="#" class="kt-widget4__username">
                                                Nick Bold
                                            </a>
                                        <p class="kt-widget4__text">
                                            Web Developer, Facebook Inc
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-label-danger"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                </div>
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        <img src="assets/media/users/100_2.jpg" alt="">
                                    </div>
                                    <div class="kt-widget4__info">
                                        <a href="#" class="kt-widget4__username">
                                                Wiltor Delton
                                            </a>
                                        <p class="kt-widget4__text">
                                            Project Manager, Amazon Inc
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-label-success"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                </div>
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        <img src="assets/media/users/100_8.jpg" alt="">
                                    </div>
                                    <div class="kt-widget4__info">
                                        <a href="#" class="kt-widget4__username">
                                                Nick Bold
                                            </a>
                                        <p class="kt-widget4__text">
                                            Web Developer, Facebook Inc
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-sm btn-label-info"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end:: Widgets/New Users-->
        </div>
        <div class="col-lg-5">
            <!--Begin::Portlet-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Messages
                        </h3>
                    </div>

                </div>
                <div class="kt-portlet__body">
                    <style>
                        /* width */
                        
                         ::-webkit-scrollbar {
                            width: 10px;
                        }
                        /* Track */
                        
                         ::-webkit-scrollbar-track {
                            background: #f1f1f1;
                        }
                        /* Handle */
                        
                         ::-webkit-scrollbar-thumb {
                            background: #888;
                        }
                        /* Handle on hover */
                        
                         ::-webkit-scrollbar-thumb:hover {
                            background: #555;
                        }
                    </style>
                    <!--Begin::Timeline 3 -->
                    <div class="kt-timeline-v2" style="max-height: 550px; overflow: scroll;">
                        <div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30">
                            <div class="kt-timeline-v2__item">
                                <span class="kt-timeline-v2__item-time">10:00</span>
                                <div class="kt-timeline-v2__item-cricle">
                                    <i class="fa fa-genderless kt-font-danger"></i>
                                </div>
                                <div class="kt-timeline-v2__item-text  kt-padding-top-5">
                                    Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna
                                </div>
                                <div class="kt-list-pics kt-list-pics--sm kt-padding-l-20">
                                    <a href="#"><img src="assets/media/users/100_4.jpg" title=""></a>
                                </div>
                            </div>
                            <div class="kt-timeline-v2__item">
                                <span class="kt-timeline-v2__item-time">12:45</span>
                                <div class="kt-timeline-v2__item-cricle">
                                    <i class="fa fa-genderless kt-font-success"></i>
                                </div>
                                <div class="kt-timeline-v2__item-text  kt-padding-top-5">
                                    AEOL Meeting With
                                </div>
                                <div class="kt-list-pics kt-list-pics--sm kt-padding-l-20">
                                    <a href="#"><img src="assets/media/users/100_4.jpg" title=""></a>
                                </div>
                            </div>
                            <div class="kt-timeline-v2__item">
                                <span class="kt-timeline-v2__item-time">14:00</span>
                                <div class="kt-timeline-v2__item-cricle">
                                    <i class="fa fa-genderless kt-font-brand"></i>
                                </div>
                                <div class="kt-timeline-v2__item-text kt-padding-top-5">
                                    Make Deposit To ESL.
                                </div>
                                <div class="kt-list-pics kt-list-pics--sm kt-padding-l-20">
                                    <a href="#"><img src="assets/media/users/100_4.jpg" title=""></a>
                                </div>
                            </div>
                            <div class="kt-timeline-v2__item">
                                <span class="kt-timeline-v2__item-time">16:00</span>
                                <div class="kt-timeline-v2__item-cricle">
                                    <i class="fa fa-genderless kt-font-warning"></i>
                                </div>
                                <div class="kt-timeline-v2__item-text kt-padding-top-5">
                                    Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
                                </div>
                                <div class="kt-list-pics kt-list-pics--sm kt-padding-l-20">
                                    <a href="#"><img src="assets/media/users/100_4.jpg" title=""></a>
                                </div>
                            </div>
                            <div class="kt-timeline-v2__item">
                                <span class="kt-timeline-v2__item-time">17:00</span>
                                <div class="kt-timeline-v2__item-cricle">
                                    <i class="fa fa-genderless kt-font-info"></i>
                                </div>
                                <div class="kt-timeline-v2__item-text kt-padding-top-5">
                                    Placed a new order in SIGNATURE MOBILE marketplace.
                                </div>
                                <div class="kt-list-pics kt-list-pics--sm kt-padding-l-20">
                                    <a href="#"><img src="assets/media/users/100_4.jpg" title=""></a>
                                </div>
                            </div>
                            <div class="kt-timeline-v2__item">
                                <span class="kt-timeline-v2__item-time">16:00</span>
                                <div class="kt-timeline-v2__item-cricle">
                                    <i class="fa fa-genderless kt-font-brand"></i>
                                </div>
                                <div class="kt-timeline-v2__item-text kt-padding-top-5">
                                    Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
                                </div>
                                <div class="kt-list-pics kt-list-pics--sm kt-padding-l-20">
                                    <a href="#"><img src="assets/media/users/100_4.jpg" title=""></a>
                                </div>
                            </div>
                            <div class="kt-timeline-v2__item">
                                <span class="kt-timeline-v2__item-time">17:00</span>
                                <div class="kt-timeline-v2__item-cricle">
                                    <i class="fa fa-genderless kt-font-danger"></i>
                                </div>
                                <div class="kt-timeline-v2__item-text kt-padding-top-5">
                                    Received a new feedback on FinancePro App product.
                                </div>
                                <div class="kt-list-pics kt-list-pics--sm kt-padding-l-20">
                                    <a href="#"><img src="assets/media/users/100_4.jpg" title=""></a>
                                </div>
                            </div>
                            <div class="kt-timeline-v2__item">
                                <span class="kt-timeline-v2__item-time">15:30</span>
                                <div class="kt-timeline-v2__item-cricle">
                                    <i class="fa fa-genderless kt-font-danger"></i>
                                </div>
                                <div class="kt-timeline-v2__item-text kt-padding-top-5">
                                    New notification message has been received on LoopFin Pro product.
                                </div>
                                <div class="kt-list-pics kt-list-pics--sm kt-padding-l-20">
                                    <a href="#"><img src="assets/media/users/100_4.jpg" title=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--End::Timeline 3 -->
                </div>
            </div>

            <!--End::Portlet-->

            <div class="form-group ">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Type your message here" aria-describedby="basic-addon2">
                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="fa fa-paper-plane"></i></span></div>
                </div>
            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>
    <!-- row end -->
    <br><br>
    <div class="row"></div>

</div>